{% extends 'base.html.twig' %}

{% block body %}

  <center> <h1> Connexion </h1>

  <form action = "" > 

  <div class ="form-grou" > 
  <input placeholder="Adresse email.." required name="_username" type="text" 
  </div>
  
  
  </form>




{% endblock %}
