{% extends 'base.html.twig' %}

{% block body %} 
<h1> Bienvenu </h1>
<center> 

<h3> {{title}} </h3>

{% if age == 18 %}

<p> Vous avez 18 ans parfait </p>

{% else %} 

<p> Dommage non vous pouvez apas rentrer </p>

{% endif  %}
</center>
{% endblock %}